.balance {
    font-size: 20px;
    color: white;
}

.align-img {
    text-align: center;
}

.moneybag-image {
    border-radius: 50%;
}

.sidenav {
    padding-top: 20px;
    background-color: #34495E;
    height: 100%;
}

#sidenav-right {
    position: fixed;
    right: 0;
    margin-top: 52px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

@media all and (max-width: 767px) {
    .sidenav {
        display: none;
    }
}

.ewallet-limit {
    color: white;
    text-align: center;
}

.instruction {
    color: white;
    font-size: 20px;
    text-align: center;
}

.profile-info {
    color: white;
    text-align: center;
    font-size: 20px;
}

.limit {
    font-size: 16px;
    color: white;
}

.profile {
    color: white;
    font-size: 16px;
    text-align: center;
}