<div class="card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
        <div [hidden]="show" class="alert alert-success">You dont have any transactions yet!</div>
        <table id="tableReport" class="table table-hover table-striped ">
          <tbody *ngFor="let history of History | paginate: { itemsPerPage: 10, currentPage: p, totalItem: len }">
            <tr class="media" id="carga_30" data-id="30" *ngIf="history.status!==3">
              <td class="media-left">
                <h4>{{history.transacted_at | date : 'mediumDate'}}</h4>
              </td>
              <td class="media-body">
                <div *ngIf="history.transaction_type === 1">
                  <div>
                    <span class="media-heading font-yellow"><strong>Self</strong></span>
                    <span class="fa fa-rupee">{{history.amount}}</span>
                  </div>
                  <span class="label label-success">Credit</span>
                  <span>Transaction ID: {{history.transaction_id}} </span>
                </div>
                <div *ngIf="history.transaction_type === 2">
                  <div *ngIf="history.reciever_name===customer_name; else other_content">
                    <div>
                      <span class="media-heading font-yellow"><strong>From: </strong>{{history.sender_name}}</span>
                      <span class="fa fa-rupee"><span> {{history.amount}}</span></span>
                    </div>
                    <span class="label label-success">Credit</span>
                    <span>Transaction ID: {{history.transaction_id}} </span>
                  </div>
                  <ng-template #other_content>
                    <div>
                      <span class="media-heading font-yellow"><strong>To: </strong>{{history.reciever_name}}</span>
                      <span class="fa fa-rupee"><span> {{history.amount}}</span></span>
                    </div>
                    <span class="label label-danger">Debit</span>
                    <span>Transaction ID: {{history.transaction_id}} </span>
                  </ng-template>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
