.card {
    margin: 0 10 10 20px;
}

// .historyTag {
//     font-weight: bold;
//     color: #ad43;
//     width: 300px;
// }

.row{
    margin-left: 50px;
}

.selected {
    background-color: #34495E !important;
    color: white;
}

.container,
.container-fluid {
    margin-top: 100px;
}

tr>td.media-left {
    width: 950px !important;
    //height: 10px !important;
    //padding-top: 12px;
    padding-left: 20px;
    font-size: 5px;
    background-color: #eee;
}

tr>td.media-body {
    width: 5000px !important;
    //height: 10px !important;
}

.table .media .media-body>span {
    color: #999;
}

.table .media .media-body span strong {
    color: black;
}

.fa-rupee{
    font-size: 23px;
    float: right;
    padding-right: 2px;
}

.media-heading{
    font-size: 20px;
    color: black;
}

