<div class="navbar navbar-default nav-theme ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/logo-main.png" width="30" height="30" class="d-inline-block align-top logo-position" alt="">

            </a>
            <a class="navbar-brand nav-brand">E-Wallet</a>

            <a class=" navbar-brand balance1213">{{balance}}</a>

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">


                <!-- <li class="dropdown">
                    <a class="dropdown-toggle notification" data-toggle="dropdown"><i class="fa fa-bell fa-lg"  aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let request of history" >
                            <div *ngIf="request.status===3"><a>{{request.sender_name}} has requested Rs. {{request.amount}}</a></div>
                        </li>
                    </ul>
                </li> -->
                <li><a class="username">{{userName}}</a></li>
                <li><a class="username" routerLink="/login" (ngSubmit)="logout()">Log out</a></li>
                <!-- <li><a routerLink="#" target="_blank" class="nav-pages"><i class="fa fa-bell fa-lg"  aria-hidden="true"></i></a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle notification" data-toggle="dropdown"><span class="badge badge-notify">{{requestLength}}</span><i class="fa fa-bell fa-lg"  aria-hidden="true"></i></a>
                    <ul class="dropdown-menu" *ngFor="let request of history">
                        <li *ngIf="request.status===3 && userName===request.sender_name">
                            <div class="text">{{request.reciever_name}} has requested Rs. {{request.amount}}</div>
                        </li>
                    </ul>
                </li>
            </ul>


        </div>
    </div>
</div>